header {
    border-bottom: 2px solid $colornegro;
    div{
        display: flex;
        justify-content: space-between;
        h1{
            display: flex;
            align-items: center;
            color: $colornegro;
            margin: 20px;
            font-family: roboto;
        } 
        nav {
            ul {
                list-style: none;
                display: flex;
                gap: 20px;
                margin: 40px;
            }
    }
} 
}
main{
    background-image: url("https://storage.googleapis.com/core-click/308788/auto1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    .img {
            display: flex;
            justify-content: center;
            img{
                width: 100%;
            }
        }
    .contenedor{
        display: flex;
        justify-content: flex-start;
        .parcelascont {
            display: flex;
            border: 1px solid $colornegro;
            flex-direction: column;
            margin: 3.75rem;
            width: 50%;
            height: 53vh;
            margin-top: 5.5rem;   
        }
    }
    .titulos {
        padding: 66px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2{
            @include animacion;
        }
        h3 {
            @include animacion;
        }
        }
    }
    @keyframes changeColor {
        0% {
            color: $colorrojo;
        }
        50% {
            color:$colorazul;
        }
        100% {
            color: $colorverde;
        }
    }
.show {
    display: flex;
    margin: 20px;
    .colum {
        display: flex;
        flex-direction: column;
        margin: 2px;
    }
    .buton {
        display: flex;
        justify-content: center;
        .boton {
            margin: 10px;
            color: $colornegro; 
            padding: 14px 28px; 
            cursor: pointer; 
            border-radius: 5px;
            background-color: $colorazul; border: 2px solid $colorceleste;
            &{
                background: $colorceleste; color: $colorturque;
            }
        }
    } 
}
.colum2 {
    display: flex;
    input {
        margin: 20px;
        display: block;
    }
}
.total {
    display: flex;
    justify-content: center;
    h2 {
        margin: 20px;
    }
}
.result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.car {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -50px;
    transform: translateY(-50%);
    transition: transform 5s linear;
}
.imagen {
    width: 100px;
    height: 100px;
}
.form-container {
    width: 300px; /* Establece el ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra el contenido del contenedor */
    padding: 20px; /* Agrega un poco de espacio interno al contenedor */
    border: 1px solid #ccc; /* Agrega un borde al contenedor si deseas */
    border-radius: 5px; /* Agrega esquinas redondeadas al contenedor si deseas */
}
