header {
    border-bottom: 2px solid $colornegro;
    div{
        display: flex;
        justify-content: space-between;
        h1{
            display: flex;
            align-items: center;
            color: $colornegro;
            margin: 20px;
            font-family: roboto;
        } 
        nav {
            ul {
                list-style: none;
                display: flex;
                gap: 20px;
                margin: 40px;
            }
    }
} 
}
main{
    background-image: url("https://storage.googleapis.com/core-click/308788/auto1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    .img {
            display: flex;
            justify-content: center;
            img{
                width: 100%;
            }
        }
    .contenedor{
        display: flex;
        justify-content: flex-start;
        .parcelascont {
            display: flex;
            border: 1px solid $colornegro;
            flex-direction: column;
            margin: 3.75rem;
            width: 60%;
            height: 63vh;
            margin-top: 5.5rem;   
        }
    }
    .titulos {
        padding: 66px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        h2{
            @include animacion;
        }
        h3 {
            @include animacion;
        }
        }
    }
    @keyframes changeColor {
        0% {
            color: $colorrojo;
        }
        50% {
            color:$colorazul;
        }
        100% {
            color: $colorverde;
        }
    }
.show {
    display: flex;
    margin: 20px;
    .colum {
        display: flex;
        flex-direction: column;
        margin: 2px;
    }
    .buton {
        display: flex;
        justify-content: center;
        .boton {
            margin: 20px;
            background-color: #0B7DDA; /* Color de fondo */
            color: white; /* Color del texto */
            padding: 10px 20px; /* Espaciado interno */
            border: none; /* Sin borde */
            border-radius: 5px; /* Borde redondeado */
            cursor: pointer; /* Cursor de puntero al pasar el mouse */
            transition: background-color 0.3s ease; /* Transici贸n suave para el color de fondo */
        }
        
        /* Cambiar color de fondo al pasar el mouse sobre el bot贸n */
        .boton:hover {
            background-color: #71abdb;
        }
    } 
}
.colum2 {
    display: flex;
    input {
        margin: 20px;
        display: block;
    }
}
.total {
    display: flex;
    justify-content: center;
    h2 {
        margin: 20px;
    }
}
.result {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.car {
    width: 100px;
    height: 100px;
    position: absolute;
    left: -50px;
    transform: translateY(-50%);
    transition: transform 5s linear;
}
.imagen {
    width: 100px;
    height: 100px;
}
#contact_form {
    width: 300px; 
    margin: 20px auto; 
    text-align: center; 
    padding: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    #message {
        width: 200px;
    }
    .form-row {
        div {
            margin: 15px;
        }
    }
}

.boton-enviar {
    background-color: #0B7DDA; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero al pasar el mouse */
    transition: background-color 0.3s ease; /* Transici贸n suave para el color de fondo */
}

/* Cambiar color de fondo al pasar el mouse sobre el bot贸n */
.boton-enviar:hover {
    background-color: #71abdb;
}
