@media (max-width:887px) {
    main {
        div {
            .img2 {
                display: none;
            }
        }
    } 
main{
    .contenedor {
        top: 100px;
        flex-direction: column;
        .parcelascont {
            display: flex;
            border: 1px solid $colornegro;
            flex-direction: column;
            margin: 1.75rem;
            width: 80%;
            height: 47vh;
            margin-top: 6rem;   
        }
    } 
}
} 
